/* result Card */
.add-ques-card-container{
    box-shadow: 0 0 5px #969696;
    margin: 12px 0;
    padding: 10px 15px;
}

.add-ques-card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 165px;
}

.add-ques-card-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-self: flex-start;
}
.add-ques-card-item > form {
    width: 100%;
    text-align: center;
}
.add-ques-card-item > form > input{
    width: 100%;
    padding: 8px 0px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid #d4d1d1;
}
.add-ques-btn{
    text-decoration: none;
    border: 1px solid #1672c1;
    width: 100%;
    color: #1672c1;
    text-align: center;
    border-radius: 4px;
    padding: 8px 0px;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    margin: 10px 0;
}