.navBar-container {
    background-color: #232121;
    box-shadow: 0px 0px 5px #353535;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list-inline{
    margin: 0;
    color: #fff;
}
.list-inline > li{
    display: inline;
}
.list-item-left {
    display: inline-block;
}
.list-item-right {
    display: inline-block;
}
.nav-item {
    padding: 10px 9px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.nav-item.active{
    background-color: #1672c1;
    cursor: pointer;
}
.logo-img {
    height: 50px;
    position: absolute;
    left: 20px;
    top: 9px;
}
.avatar {
    height: 41px;
    border-radius: 50px;
    vertical-align: middle;
}